name: Publish development

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build
    uses: ./.github/workflows/cmake-single-platform.yml

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v3
      with:
        path: ${{ github.workspace }}/artifacts

    - uses: vimtor/action-zip@v1
      with:
        files: artifacts/gm2ml.win64
        dest: gm2ml.win64.zip

    - name: Update release
      uses: IsaacShelton/update-existing-release@v1.3.1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: >
          gm2ml.win64.zip
        replace: true
        release: Development
        prerelease: true
